body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #F3EFE0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.logo {
    display: block;
    max-width: 400px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #f4ebda;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #464241;
    font-family: "Noto Serif", serif;
}

input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid #464241;
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #ffffff;
}

button {
    width: 90%;
    background-color: #464241;
    color: #F3EFE0;
    border-radius: 20px;
    padding: 10px;
    font-family: "Montserrat Alternates", sans-serif;

}

input[type="text"],
select,
textarea {
    width: 100%;
    border: 0.5px solid #464241;
    border-radius: 4px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
}

input[type="submit"] {
    border: none;
    background: #4aaaa5;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}

select {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid #464241;
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.buttons {
    width: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: auto;
}
.edit {
    width: 40%;
    margin: auto 5px;

}

.delete {
    width: 40%;
    margin: auto 5px;
}

.buttons {
    display: flex;
    margin: auto;
}